.history {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--orange);
}

.history__content {
  display: flex;
  gap: 5px;
  background-color: var(--orange);
  padding: 8px 5px 5px;
  overflow: auto;
}

.history__break {
  border-left: 2px dashed var(--gray);
}
