.deck {
  display: grid;
  grid-template-columns: repeat(13, 100px);
  gap: 10px;
  overflow: 'auto';
  user-select: none;
  padding: 20px;
  background-color: beige;
}

.card {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 7em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  cursor: pointer;
}
.card:hover {
  background-color: aliceblue;
}

.card.red {
  color: red;
}

.card.selected {
  background-color: lightgray;
}

.card-topleft {
  position: absolute;
  top: 0.5em;
  left: 0.75em;
}

.card-bottomright {
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  transform: rotate(180deg);
}

.card-corner-rank,
.card-corner-suit {
  font-size: 0.75em;
  line-height: 1.25;
  text-align: center;
  transform: translate(-50%, 0);
}

.card-suits {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17.5%;
  height: 25%;
  transform: translate(-50%, -50%);
}

.card-suit {
  font-size: 1em;
  position: absolute;
}

.card-suit.mirrored {
  transform: rotate(180deg);
}

.history {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
  background-color: antiquewhite;
}

.break {
  width: 30px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #347536;
}

h3 {
  margin: 10px 0;
}
